In [ ]:
import pandas as pd
import requests
import time
import re
api_key = ''  # this is the api key of TMDB Website

#  **Extracting MoviesData**

In [ ]:
def get_movies(url,index):
    # read_html will extract the tables from the given link and index location
    df1 = pd.read_html(url,header=0)[index]
    df2 = pd.read_html(url,header=0)[index+1]
    df3 = pd.read_html(url,header=0)[index+2]
    df4 = pd.read_html(url,header=0)[index+3]

    # now concatenating all the extracted data of movie
    final_df= pd.concat([df1,df2,df3,df4],ignore_index=True)[['Title','Director','Cast']]
    return final_df

In [ ]:
# Extracting Data of Movies from 2022 to 2012 from WIKIPEDIA

In [ ]:
movies_2022 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2022',4)

In [ ]:
movies_2021 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2021',2)

In [ ]:
movies_2020 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2020',2)

In [ ]:
movies_2019 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2019',3)

In [ ]:
movies_2018 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2018',2)

In [ ]:
movies_2017 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2017',2)

In [ ]:
movies_2016 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2016',2)

In [ ]:
movies_2015 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2015',2)

In [ ]:
movies_2014 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2014',2)

In [ ]:
movies_2013 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2013',2)

In [ ]:
movies_2012 = get_movies('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2012',3)

In [ ]:
movies_2022.sample(5)

,Title,Director,Cast
60,Maja Ma,Anand Tiwari,Madhuri DixitGajraj RaoRitwik BhowmikBarkha Singh
38,Laal Singh Chaddha,Advait Chandan,Aamir KhanKareena KapoorNaga ChaitanyaMona Singh
65,Ram Setu,Abhishek Sharma,Akshay KumarJacqueline FernandezNushrratt Bhar...
37,Darlings,Jasmeet K Reen,Alia BhattShefali ShahVijay Varma
78,Bhediya,Amar Kaushik,Varun DhawanKriti Sanon

In [ ]:
movies_2015.sample(5)

,Title,Director,Cast
34,Court,Chaitanya Tamhane,"Vira Satidhar, Vivek Gombher, Geetanjali Kulkarni"
29,Yahaan Sabki Lagi Hai,"Satavisha Bose, Cyrus R. khambhata","Varun Thakur, Eden Shyodhi, Heerok Das, Teesha..."
40,Kaagaz Ke Fools,Anil Kumar Chaudhary,"Vinay Pathak, Mugdha Godse, Raima Sen, Saurabh..."
69,Bangistan,Karan Anshuman,"Riteish Deshmukh, Pulkit Samrat"
53,Dil Dhadakne Do,Zoya Akhtar,"Anil Kapoor, Shefali Shah, Priyanka Chopra, Ra..."

In [ ]:
# concatenating only those DataFrames that require same type of pre-processing in Cast Feature
list1 =[movies_2022,movies_2021,movies_2020,movies_2019]
list2 = [movies_2018,movies_2017,movies_2016,movies_2015,movies_2014,movies_2013,movies_2012]

first_df = pd.concat(list1,ignore_index=True)
second_df = pd.concat(list2,ignore_index=True)

## Pre-processing in first_df

In [ ]:
# checking null values
first_df.isnull().sum()

Title       10
Director    10
Cast        10
dtype: int64

In [ ]:
# droping null values
first_df.dropna(inplace=True)

In [ ]:
first_df.isnull().sum()

Title       0
Director    0
Cast        0
dtype: int64

In [ ]:
# function to get cast name in proper format
import re
def getSomeWorkDone(text):
  pattern = r'[A-Z][a-z]+ [A-Z][a-z]+'
  lst = re.findall(pattern,text)
  string = ",".join(lst)

  return string

In [ ]:
first_df['Cast'] = first_df['Cast'].apply(getSomeWorkDone)

In [ ]:
first_df.duplicated().sum() # contains zero duplicate rows

0

# Pre-Processing in second data frame

In [ ]:
# checking null values in 2nd DF
second_df.isnull().sum()

Title       15
Director    16
Cast        18
dtype: int64

In [ ]:
second_df[second_df['Cast'].isnull()]

                                   Title       Director Cast
48                 Hanuman vs Mahiravana   Ezhil Vendan  NaN
74                                   NaN            NaN  NaN
199                                  NaN            NaN  NaN
273             Murari the Mad Gentleman            NaN  NaN
441                                  NaN            NaN  NaN
495                                  NaN            NaN  NaN
544                                  NaN            NaN  NaN
545                                  NaN            NaN  NaN
546                                  NaN            NaN  NaN
547                                  NaN            NaN  NaN
548                                  NaN            NaN  NaN
549                                  NaN            NaN  NaN
550                                  NaN            NaN  NaN
551                                  NaN            NaN  NaN
552                                  NaN            NaN  NaN
553                                  NaN            NaN  NaN
660  Chhota Bheem and the Throne of Bali  Rajiv Chilaka  NaN
739                                  NaN            NaN  NaN

In [ ]:
second_df = second_df.dropna()

In [ ]:
second_df.isnull().sum()

Title       0
Director    0
Cast        0
dtype: int64

In [ ]:
second_df.duplicated().sum() # no duplicate rows found

0

In [ ]:
# Concatenating  the 2 DataFrames i.e first_df and second_df
final_df = pd.concat([first_df,second_df],ignore_index=True)

In [ ]:
final_df

,Title,Director,Cast
0,Attack: Part 1,Lakshya Raj Anand,"John Abraham,Jacqueline Fernandez,Rakul Preet"
1,Kaun Pravin Tambe?,Jayprad Desai,Shreyas Talpade
2,Cobalt Blue,Sachin Kundalkar,"Prateik Babbar,Neelay Mehendale,Anjali Sivaram..."
3,Dasvi,Tushar Jalota,"Abhishek Bachchan,Yami Gautam,Nimrat Kaur"
4,Hurdang,Nikhil Nagesh Bhat,"Sunny Kaushal,Nushrratt Bharuccha,Vijay Varma"
...,...,...,...
1244,Talaash: The Answer Lies Within,Reema Kagti,"Aamir Khan, Rani Mukerji, Kareena Kapoor, Nawa..."
1245,Khiladi 786,Ashish R Mohan,"Akshay Kumar, Asin, Mithun Chakraborty, Raj Ba..."
1246,The Last Act,12 directors,Saurabh Shukla[88]
1247,Cigarette Ki Tarah,Akashaditya Lama,"Bhoop Yaduvanshi, Prashant Narayanan, Madhurim..."
1248,Dabangg 2,Arbaaz Khan,"Salman Khan, Sonakshi Sinha, Arbaaz Khan, Prak..."

In [ ]:
# checking null values
final_df.isnull().sum()

Title       0
Director    0
Cast        0
dtype: int64

In [ ]:
# checking if 2 or more movies have same name
final_df['Title'].duplicated(keep=False).sum()

4

In [ ]:
final_df[final_df['Title'].duplicated(keep=False)]

,Title,Director,Cast
389,Ghost,Vikram Bhatt,"Sanaya Irani,Shivam Bhaargava"
743,Wah Taj,Ajit Sinha,"Shreyas Talpade, Manjari Phadnis, Hemant Pande..."
1007,Wah Taj,Ajit Sinha,"Shreyas Talpade, Manjari Fadnis, Hemant Pandey..."
1147,Ghost,Puja Jatinder Bedi,"Shiney Ahuja, Sayali Bhagat, Deepraj Rana, Jul..."

In [ ]:
# removing movies with same name...to avoid amiguity at time of data fetching
final_df = final_df.drop_duplicates(keep=False,subset=['Title']).reset_index(drop=True)

In [ ]:
final_df.shape

(1245, 3)

In [ ]:
!pip install tmdbv3api
# install tmdb3api before using it

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tmdbv3api
  Downloading tmdbv3api-1.7.7-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->tmdbv3api) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->tmdbv3api) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->tmdbv3api) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->tmdbv3api) (3.4)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.7

In [ ]:
# Fetching TMDB ID of movie with it's name
from tmdbv3api import TMDb
tmdb = TMDb()
tmdb.api_key = api_key
from tmdbv3api import Movie
movie_details = Movie()

In [ ]:
# function to fetch TMDB ID

def get_movie_id(movie_name):
    # if there exists a movie with the specified name in TMDB , if not return -1
    if(movie_details.search(movie_name)):
        # traversing through all results
        for i in movie_details.search(movie_name):
            # fetching 'id' of bollywood movie only in case of name ambiguity
            if(i['original_language']=='hi'):
                return i['id']
    else:
      return -1

In [ ]:
from tqdm import tqdm
tqdm.pandas()
final_df['id'] = final_df['Title'].progress_apply(get_movie_id)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1245/1245 [02:15<00:00,  9.21it/s]

In [ ]:
final_df

,Title,Director,Cast,id
0,Attack: Part 1,Lakshya Raj Anand,"John Abraham,Jacqueline Fernandez,Rakul Preet",799155.0
1,Kaun Pravin Tambe?,Jayprad Desai,Shreyas Talpade,946652.0
2,Cobalt Blue,Sachin Kundalkar,"Prateik Babbar,Neelay Mehendale,Anjali Sivaram...",897097.0
3,Dasvi,Tushar Jalota,"Abhishek Bachchan,Yami Gautam,Nimrat Kaur",799713.0
4,Hurdang,Nikhil Nagesh Bhat,"Sunny Kaushal,Nushrratt Bharuccha,Vijay Varma",809309.0
...,...,...,...,...
1240,Talaash: The Answer Lies Within,Reema Kagti,"Aamir Khan, Rani Mukerji, Kareena Kapoor, Nawa...",86004.0
1241,Khiladi 786,Ashish R Mohan,"Akshay Kumar, Asin, Mithun Chakraborty, Raj Ba...",147767.0
1242,The Last Act,12 directors,Saurabh Shukla[88],NaN
1243,Cigarette Ki Tarah,Akashaditya Lama,"Bhoop Yaduvanshi, Prashant Narayanan, Madhurim...",147358.0
1244,Dabangg 2,Arbaaz Khan,"Salman Khan, Sonakshi Sinha, Arbaaz Khan, Prak...",147405.0

In [ ]:
# checking no. of movies/rows with TMDB ID = -1
# i.e. movies with no. TMDB ID
len(final_df[final_df['id']==-1])

61

In [ ]:
# Removing the rows that contain -1 as their Movie_Id
final_df = final_df[final_df['id']!=-1].reset_index(drop=True)

# why we have apply reset_index() ?
# Because when we apply boolean indexing , indexes of the rows are not change they remain as it is...that's why we have used reset_index() function.

In [ ]:
final_df.shape

(1184, 4)

In [ ]:
# checking movies with same TMDB ID
final_df['id'].duplicated(keep=False).sum()

136

In [ ]:
# removing movies with same TMDB ID
final_df = final_df.drop_duplicates(keep=False,subset=['id']).reset_index(drop=True)

In [ ]:
final_df.shape

(1048, 4)

In [ ]:
final_df

,Title,Director,Cast,id
0,Attack: Part 1,Lakshya Raj Anand,"John Abraham,Jacqueline Fernandez,Rakul Preet",799155.0
1,Kaun Pravin Tambe?,Jayprad Desai,Shreyas Talpade,946652.0
2,Cobalt Blue,Sachin Kundalkar,"Prateik Babbar,Neelay Mehendale,Anjali Sivaram...",897097.0
3,Dasvi,Tushar Jalota,"Abhishek Bachchan,Yami Gautam,Nimrat Kaur",799713.0
4,Hurdang,Nikhil Nagesh Bhat,"Sunny Kaushal,Nushrratt Bharuccha,Vijay Varma",809309.0
...,...,...,...,...
1043,Son Of Sardaar,Ashwni Dhir,"Ajay Devgn, Sanjay Dutt, Juhi Chawla, Sonakshi...",140896.0
1044,Talaash: The Answer Lies Within,Reema Kagti,"Aamir Khan, Rani Mukerji, Kareena Kapoor, Nawa...",86004.0
1045,Khiladi 786,Ashish R Mohan,"Akshay Kumar, Asin, Mithun Chakraborty, Raj Ba...",147767.0
1046,Cigarette Ki Tarah,Akashaditya Lama,"Bhoop Yaduvanshi, Prashant Narayanan, Madhurim...",147358.0
1047,Dabangg 2,Arbaaz Khan,"Salman Khan, Sonakshi Sinha, Arbaaz Khan, Prak...",147405.0

#  Get details of movie with movie id

In [ ]:
def get_other_details(movie_id):
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&language=en-US'.format(movie_id,api_key)).json()
    res_df = pd.json_normalize(response)
    return res_df

In [ ]:
other_details = pd.DataFrame()

In [ ]:
from tqdm import tqdm
for i in tqdm(final_df['id']):
  other_details = pd.concat([other_details,get_other_details(i)])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1048/1048 [02:20<00:00,  7.43it/s]

In [ ]:
other_details.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path'],
      dtype='object')

In [ ]:
# Removing columns that are of no use to us !
other_details = other_details.drop(['adult', 'backdrop_path', 'belongs_to_collection','homepage','original_title','production_companies',
                    'production_countries','spoken_languages', 'status','video','belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path','budget','revenue','tagline'
                    ],axis=1)

In [ ]:
other_details.shape

(1048, 12)

In [ ]:
# checking null values
other_details.isnull().sum()

genres                0
id                    0
imdb_id               7
original_language     0
overview              0
popularity            0
poster_path          20
release_date          0
runtime               0
title                 0
vote_average          0
vote_count            0
dtype: int64

In [ ]:
# removing null values
other_details = other_details.dropna().reset_index(drop=True)

In [ ]:
other_details.shape

(1023, 12)

In [ ]:
final_df.shape

(1048, 4)

In [ ]:
other_details.columns

Index(['genres', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'release_date', 'runtime', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
final_df.columns

Index(['Title', 'Director', 'Cast', 'id'], dtype='object')

In [ ]:
# merging dataframes to get the final bollywoood movies dataset
bolly_movies = final_df.merge(other_details,on='id').dropna()

In [ ]:
bolly_movies.shape

(1023, 15)

In [ ]:
bolly_movies

,Title,Director,Cast,id,genres,imdb_id,original_language,overview,popularity,poster_path,release_date,runtime,title,vote_average,vote_count
0,Attack: Part 1,Lakshya Raj Anand,"John Abraham,Jacqueline Fernandez,Rakul Preet",799155.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",tt7529298,hi,"With the Parliament under siege, Indiaâ€™s first...",7.540,/5jGKbYuZtdxSNOocI6ZziQeiY4n.jpg,2022-04-01,123,Attack,7.2,26
1,Kaun Pravin Tambe?,Jayprad Desai,Shreyas Talpade,946652.0,"[{'id': 18, 'name': 'Drama'}]",tt18568902,hi,Mumbai-born leg-spinner Pravin Tambe made his ...,3.118,/w6t4nzjbmlGDAYnNvUeo6zxMySC.jpg,2022-04-01,133,Kaun Pravin Tambe?,7.3,10
2,Cobalt Blue,Sachin Kundalkar,"Prateik Babbar,Neelay Mehendale,Anjali Sivaram...",897097.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",tt15314640,hi,When an aspiring author and his free-spirited ...,5.029,/59CjIDHHvNyiinRwaSIouWnPNrY.jpg,2022-04-02,112,Cobalt Blue,6.4,18
3,Dasvi,Tushar Jalota,"Abhishek Bachchan,Yami Gautam,Nimrat Kaur",799713.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",tt14107554,hi,"Jailed under a tough cop, an uneducated politi...",4.485,/zL40soH0AYoBD5BVNu9U2B98ejD.jpg,2022-04-07,127,Dasvi,5.4,18
4,Hurdang,Nikhil Nagesh Bhat,"Sunny Kaushal,Nushrratt Bharuccha,Vijay Varma",809309.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt10919304,hi,"In the 1990s' Allahabad, a brash college stude...",3.690,/vcsr4oajxfEMYpjxfgrVfJCbczk.jpg,2022-04-08,122,Hurdang,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018,Son Of Sardaar,Ashwni Dhir,"Ajay Devgn, Sanjay Dutt, Juhi Chawla, Sonakshi...",140896.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt2178508,hi,A Punjabi man returning to India falls in love...,4.496,/rqFbCvKVPdqI1Yrm8Xn172XXiVC.jpg,2012-11-13,141,Son of Sardaar,4.7,39
1019,Talaash: The Answer Lies Within,Reema Kagti,"Aamir Khan, Rani Mukerji, Kareena Kapoor, Nawa...",86004.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt1787988,hi,"A cop, investigating the mysterious death of a...",7.688,/oCxyN7HmJ7zWp8jtJeMRHABnutF.jpg,2012-11-30,149,Talaash,6.8,180
1020,Khiladi 786,Ashish R Mohan,"Akshay Kumar, Asin, Mithun Chakraborty, Raj Ba...",147767.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt2166214,hi,A father who runs a marriage bureau believes t...,2.123,/3chNHVi7j0jmUvJ1k7n2EYPfFmC.jpg,2012-12-07,139,Khiladi 786,4.8,30
1021,Cigarette Ki Tarah,Akashaditya Lama,"Bhoop Yaduvanshi, Prashant Narayanan, Madhurim...",147358.0,[],tt2346744,hi,Cigarette Ki Tarah is an upcoming romantic thr...,0.600,/yTQ1PjmEeArXhiluRIGcIhwUZA.jpg,2012-12-14,107,Cigarette ki Tarah,6.5,1
1022,Dabangg 2,Arbaaz Khan,"Salman Khan, Sonakshi Sinha, Arbaaz Khan, Prak...",147405.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt2112131,hi,Chulbul Pandey invites a fresh trouble when he...,8.137,/11lo9arlgCOcgVPVQ025v071YpM.jpg,2012-12-21,125,Dabangg 2,5.1,92

## There are some missing values which can not be caugth by the .isnull() method

### *That's why we have to check manually...if some feature(object type) contain empty Strings*

In [ ]:
(bolly_movies['imdb_id']=='').sum()

5

In [ ]:
bolly_movies = bolly_movies[bolly_movies['imdb_id']!=''].reset_index(drop=True)

In [ ]:
(bolly_movies['overview']=='').sum()

2

In [ ]:
bolly_movies = bolly_movies[bolly_movies['overview']!=''].reset_index(drop=True)

In [ ]:
(bolly_movies['Cast']=='').sum()

1

In [ ]:
bolly_movies = bolly_movies[bolly_movies['Cast']!=''].reset_index(drop=True)

# **BollyWood DataSet is Ready**

In [ ]:
bolly_movies.to_csv("Bollywood_Movies1.csv")

In [ ]:
bolly_movies.shape

(1015, 15)

In [ ]:
bolly_movies.head()

,Title,Director,Cast,id,genres,imdb_id,original_language,overview,popularity,poster_path,release_date,runtime,title,vote_average,vote_count
0,Attack: Part 1,Lakshya Raj Anand,"John Abraham,Jacqueline Fernandez,Rakul Preet",799155.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",tt7529298,hi,"With the Parliament under siege, Indiaâ€™s first...",7.540,/5jGKbYuZtdxSNOocI6ZziQeiY4n.jpg,2022-04-01,123,Attack,7.2,26
1,Kaun Pravin Tambe?,Jayprad Desai,Shreyas Talpade,946652.0,"[{'id': 18, 'name': 'Drama'}]",tt18568902,hi,Mumbai-born leg-spinner Pravin Tambe made his ...,3.118,/w6t4nzjbmlGDAYnNvUeo6zxMySC.jpg,2022-04-01,133,Kaun Pravin Tambe?,7.3,10
2,Cobalt Blue,Sachin Kundalkar,"Prateik Babbar,Neelay Mehendale,Anjali Sivaram...",897097.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",tt15314640,hi,When an aspiring author and his free-spirited ...,5.029,/59CjIDHHvNyiinRwaSIouWnPNrY.jpg,2022-04-02,112,Cobalt Blue,6.4,18
3,Dasvi,Tushar Jalota,"Abhishek Bachchan,Yami Gautam,Nimrat Kaur",799713.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",tt14107554,hi,"Jailed under a tough cop, an uneducated politi...",4.485,/zL40soH0AYoBD5BVNu9U2B98ejD.jpg,2022-04-07,127,Dasvi,5.4,18
4,Hurdang,Nikhil Nagesh Bhat,"Sunny Kaushal,Nushrratt Bharuccha,Vijay Varma",809309.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt10919304,hi,"In the 1990s' Allahabad, a brash college stude...",3.690,/vcsr4oajxfEMYpjxfgrVfJCbczk.jpg,2022-04-08,122,Hurdang,5.0,2